<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>com.todoapplication.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.todoapplication.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTaskServlet</servlet-name>
        <servlet-class>com.todoapplication.AddTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTaskServlet</servlet-name>
        <servlet-class>com.todoapplication.ViewTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTaskServlet</servlet-name>
        <servlet-class>com.todoapplication.UpdateTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTaskServlet</servlet-name>
        <servlet-class>com.todoapplication.DeleteTaskServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTaskServlet</servlet-name>
        <url-pattern>/AddTaskServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTaskServlet</servlet-name>
        <url-pattern>/ViewTaskServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTaskServlet</servlet-name>
        <url-pattern>/UpdateTaskServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTaskServlet</servlet-name>
        <url-pattern>/DeleteTaskServlet</url-pattern>
    </servlet-mapping>
</web-app>
